<a href="https://colab.research.google.com/github/vanditagoyal1997/depression-analysis/blob/sankhya/gaze.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1
%tensorflow_version 1.15.2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from scipy.io import wavfile as wav
from scipy import signal
from scipy.fftpack import fft,fftfreq
import os

`%tensorflow_version` only switches the major version: 1.x or 2.x.
You set: `1.15.2`. This will be interpreted as: `1.x`.


TensorFlow is already loaded. Please restart the runtime to change versions.

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
os.listdir()os.chdir('gdrive')
os.chdir('My Drive/final year project')

Just some random stuf!!!

# using lstm for gaze sequence prediction

In [ ]:
from numpy import array
import tensorflow as tf
from tensorflow.python.keras.preprocessing.text import one_hot
from keras.preprocessing.sequence import pad_sequences
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers.core import Activation, Dropout, Dense
from tensorflow.python.keras.layers import Flatten, LSTM
from keras.models import Model
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical
from keras.preprocessing.sequence import pad_sequences
from tensorflow.python.keras.layers import Masking

Using TensorFlow backend.

write a script to read all the gaze csv's and take out the necessary columns

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
os.listdir()
#os.chdir('gdrive')
os.chdir('/content/gdrive/My Drive/final year project')

In [ ]:
df_1=pd.read_csv('train_split_Depression_AVEC2017.csv')
df_11=df_1.rename(columns={'PHQ8_Binary':'PHQ_Binary'})
df_2=pd.read_csv('full_test_split.csv')
df_3=pd.read_csv('full_test_split.csv')
df_4=pd.concat([df_11,df_2,df_3]).drop_duplicates().reset_index(drop=True)

In [ ]:
df_4

     Participant_ID  PHQ_Binary  ...  PHQ8_Moving  PHQ_Score
0               303           0  ...          0.0        NaN
1               304           0  ...          0.0        NaN
2               305           0  ...          0.0        NaN
3               310           0  ...          0.0        NaN
4               312           0  ...          0.0        NaN
..              ...         ...  ...          ...        ...
149             467           0  ...          NaN        0.0
150             469           0  ...          NaN        3.0
151             470           0  ...          NaN        3.0
152             480           0  ...          NaN        1.0
153             481           0  ...          NaN        7.0

[154 rows x 13 columns]

In [ ]:
df=pd.read_csv('train_split_Depression_AVEC2017.csv')
id=df_4['Participant_ID'].tolist()
id=np.array(id)
score=df_4['PHQ_Binary'].tolist()
score=np.array(score)
f=os.listdir('gaze')
temp=[]

for i in f:
  if len(id)==0:
    break
  elif int(i[0:3]) in id:
    temp.append(i)
len(temp)

154

below is the code to read all the text files and make get them into tables

In [ ]:
table=[]
flag=[]
for i in temp:
  # print(i)
  flag=[]
  df=pd.read_table('gaze/'+i,sep=",")
  t=df.iloc[:,3:16]
  t.rename(columns={' success':'success',' x_0':'x_0',' y_0':'y_0',' z_0':'z_0',' x_1':'x_1',' y_1':'y_1',' z_1':'z_1',
                    ' x_h0':'x_h0',' y_h0':'y_h0',' z_h0':'z_h0',' x_h1':'x_h1',' y_h1':'y_h1',' z_h1':'z_h1'},inplace=True)
  
  my_list=[]
  for index, rows in t.iterrows(): 
      # Create list for the current row 
      my_list =[rows.success,rows.x_0, rows.y_0, rows.z_0,rows.x_1, rows.y_1, rows.z_1,
                rows.success,rows.x_h0, rows.y_h0, rows.z_h0,rows.x_h1, rows.y_h1, rows.z_h1] 
        
      # append the list to the final list 
      flag.append(my_list)
  # print('check')
  table.append(flag)
np.array(table)

padded=pad_sequences(table,padding='post')
padded.shape

(154, 58989, 14)

In [ ]:
y=df_4['PHQ_Binary'].tolist()

Y=to_categorical(y,num_classes=2)
num_classes=2

In [ ]:
y=df_4['PHQ_Binary'].tolist()
X_train, X_test, Y_train, Y_test = train_test_split(padded, y, test_size=0.1)
y_train=to_categorical(Y_train,num_classes=2)
y_test=to_categorical(Y_test,num_classes=2)

In [ ]:
X_test

In [ ]:
y=[1,0,1]
# y=to_categorical(y,num_classes=2)
y=np.array(y)
y.reshape(3)

array([1, 0, 1])

In [ ]:
mod=Sequential()
mod.add(Masking(mask_value=0, input_shape=(None, 14)))
mod.add(LSTM(6,return_sequences=True ))
mod.add(LSTM(3,return_sequences=True ))
mod.add(LSTM(3,return_sequences=False))
mod.add(Dense(3,activation='sigmoid'))
mod.add(Dense(2,activation='sigmoid'))
mod.compile(optimizer='sgd', loss='mse', metrics = ['accuracy','mse'])

In [ ]:
mod.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
masking_3 (Masking)          (None, None, 14)          0
_________________________________________________________________
lstm_10 (LSTM)               (None, None, 6)           504
_________________________________________________________________
lstm_11 (LSTM)               (None, None, 3)           120
_________________________________________________________________
lstm_12 (LSTM)               (None, 3)                 84
_________________________________________________________________
dense_6 (Dense)              (None, 3)                 12
_________________________________________________________________
dense_7 (Dense)              (None, 2)                 8
=================================================================
Total params: 728
Trainable params: 728
Non-trainable params: 0
_________________________________________________________________

In [ ]:
mod.fit(X_train,y_train, validation_split=0.1 ,epochs=2, batch_size=128)

Epoch 1/2
1/1 [==============================] - 4s 4s/step - loss: 0.2103 - accuracy: 0.7097 - mse: 0.2103 - val_loss: 0.2312 - val_accuracy: 0.6429 - val_mse: 0.2312
Epoch 2/2
1/1 [==============================] - 4s 4s/step - loss: 0.2102 - accuracy: 0.7097 - mse: 0.2102 - val_loss: 0.2312 - val_accuracy: 0.6429 - val_mse: 0.2312

In [ ]:
print(mod.predict(X_test))
y_test

[[0.7033392  0.3778022 ]
 [0.6944963  0.38542625]
 [0.6944963  0.38542625]
 [0.6944963  0.38542625]
 [0.7003017  0.38027996]
 [0.7019233  0.3790456 ]
 [0.6944963  0.38542625]
 [0.6944968  0.38542518]
 [0.70333904 0.37780285]
 [0.7033383  0.37780434]
 [0.7033392  0.3778022 ]
 [0.6944963  0.38542625]
 [0.7033392  0.3778022 ]
 [0.6945006  0.38542038]
 [0.7033392  0.3778022 ]
 [0.7017423  0.3793378 ]]

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.]], dtype=float32)

In [ ]:
from keras.models import load_model
from keras.utils import CustomObjectScope
from keras.initializers import glorot_uniform
import tensorflow as tf

In [ ]:
model_json = mod.to_json()
with open("gaze.json", "w") as json_file:
    json_file.write(model_json)
mod.save_weights("gaze.h5")

In [ ]:
json_file = open('gaze.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = tf.keras.models.model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights("gaze.h5")
loaded_model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy'])
# load_model.evaluate(X_test,y_test)
score = loaded_model.evaluate(X_test,y_test, verbose=0)
print(score)
# loaded_model.predict(X_test)